extends ../layouts/default

mixin post(post)
	.post-index(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		if post.image.exists
			img(src=post._.image.fit(160,160)).img.pull-right
		if post.publishedDate && post.author
			p.lead.text-muted
				| Posted by #{post.author.name.first} on #{post._.publishedDate.format('MMMM Do, YYYY')} 
		h2: a(href='/blog/post/' + post.slug)= post.title
		if post.content.extended
			p.read-more: a(href='/blog/post/' + post.slug) Check out the recipe →

block content
	.container: .heading
		h1 The FoodBlog
		p The best place to find recipes for <br/>the best meals with amazing taste and suitable for students... <br/>because we all poor.

	.container: .jumbotron.no-padding
		
		.blog-index
						each post in data.posts.results
							+post(post)
					
		hr
