#header {
	margin-top: 10vh;
}
.bg-primary {
  background-color: #78C2AD !important;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.jumbotron p {
  margin-bottom: 1em;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}
